* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e0e0e0;
  font-family: sans-serif;
}

.container {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background: #e0e0e0;
  box-shadow: 35px 35px 70px #bebebe, -35px -35px 70px #ffffff;
}

#display {
  font-size: 40px;
  font-weight: bolder;
  color: red;
  text-align: center;
  height: 50px;
  width: 230px;
  margin: 20px auto;
  padding: 3px;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 22px 22px 44px #bebebe, -22px -22px 44px #ffffff;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
}

button {
  height: 55px;
  width: 55px;
  border-radius: 55px;
  letter-spacing: 0.5px;
  font-weight: bold;
  border: none;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 6px 6px 11px #bebebe, -6px -6px 11px #ffffff;
  transition: all 1s;
}

button:hover {
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 6px 6px 11px #bebebe, -6px -6px 11px #ffffff;
}

#start {
  color: green;
}

#stop {
  color: red;
}

#reset {
  color: blue;
}
